* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: #00BCD4;
  min-width: 100vw;
  min-height: 100vh;
}

header {
  background-color: #00796B;
  text-align: center;
}

.title {
  color: #FFC107;
  padding: 56px;
  font-size: 3rem;
}
